name: ML CI Pipeline

on:
  push:
    branches: [ main ]
    tags:
      - "v1.0*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Lint code
      run: |
        pip install flake8
        flake8 src/

    - name: Run tests
      run: |
        pip install pytest
        pytest test/

    - name: Train model (test run)
      run: |
        python src/train.py --epochs 1

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v1.0')

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Push to Hugging Face Space
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        git config --global user.email "ci@github.com"
        git config --global user.name "GitHub Actions"

        git clone https://$HF_TOKEN@huggingface.co/spaces/MarcBo-eng/P05_openc

        rsync -av --delete \
          --exclude='.git' \
          ./ hf-space/

        cd hf-space
        git add .
        git commit -m "Deploy ${{ github.ref_name }}"
        git push