name: ML CI Pipeline

on:
  push:
    branches: [ main ]
    tags:
      - "v1.*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install uv 
        uv sync
      #  pip install -r requirements.txt

      # Linting désactivé
      # - name: Run linting with flake8
      #   run: |
      #     flake8 .

    - name: Set up environment variables
      run: |
        echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV
        
    - name: Run tests
      run: |        
        uv run pytest test/
      # pip install pytest

    - name: Train model (test run)
      run: |
        uv run python -m src.train --epochs 1

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v1.')
    permissions:
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Push to Hugging Face Space
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
      run: |
        git config --global user.email "ci@github.com"
        git config --global user.name "GitHub Actions"

        git clone https://$HF_TOKEN@huggingface.co/spaces/MarcBo-eng/P05_openc

        rsync -av --delete \
          --exclude='.git' \
          ./ hf-space/

        cd hf-space
        git checkout -b main
        git add .
        git commit -m "Deploy ${{ github.ref_name }}"
        git push https://x-access-token:$REPO_TOKEN@github.com/BouchezMarc/P05.git main
